/* body */
form {
  background-color: orange;
  width: 100vw;
  height: 100vh;
}


/* 버튼 */
.btn {
  background-color: #3673FF;
  color: white;

  border: none;
  padding: 5px 60px;
  border-radius: 20px;
  width: 70%;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}